<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>การบ้าน</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let homework of homeworks" (click)="homeworkSelected(homework)">
      <ion-grid>
        <ion-row>
          <ion-col><h2>{{homework.topic}} <ion-badge color="danger" *ngIf="homework.isOverdue">เกินกำหนด</ion-badge></h2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h3>{{homework.subject.name}}</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>ส่งก่อน {{homework.submitAt | amLocale:'th' | amDateFormat:'Do MMMM YYYY เวลา hh:mm'}}</ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="openAddHomework()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
