<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ตารางสอน</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openAddTimetable()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <super-tabs *ngIf="timeTableDays.length > 0; else showEmpty" [config]="{sideMenu: 'left'}">
    <div *ngFor="let tb of timeTableDays">
      <super-tab [root]="tb.page" title="{{tb.displayTitle}}" [rootParams]="{dayOftimetable: tb.day, displayTitle: tb.displayTitle, data: tb.data}"></super-tab>
    </div>
  </super-tabs>
  <ng-template #showEmpty>
    <div text-center padding>
      <h3>ไม่มีตารางสอน</h3>
      <button ion-button block icon-left (click)="openAddTimetable()">
        <ion-icon name="add"></ion-icon>
        เพิ่มตารางเรียน
      </button>
    </div>
  </ng-template>
</ion-content>
